header {
  text-align: center;
  background: linear-gradient(45deg, orange, yellow);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

header h1 { 
  font-family: 'Arial', sans-serif; 
  font-size: 2.5em; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  margin: 0; 
  padding: 10px 0;

main{
  text-align: center;
}
footer{
  text-align: center;
}
